<h2>Projects</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/Forlenza.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">Large Established Sign</h4>
                <p class="card-text">
                    Wood Species: <b>Cherry</b> <br />
                    Stain: <b>Gunstock</b> <br />
                    Size: <b>24" Wide x 12" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>

        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/BigBucks.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">I like Big Bucks...</h4>
                <p class="card-text">
                    Wood Species: <b>Oak</b> <br />
                    Stain: <b>Walnut</b> <br />
                    Size: <b>15" Wide x 9" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>

        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/Janet.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">Small Remembrance Plaque</h4>
                <p class="card-text">
                    Wood Species: <b>Cherry</b> <br />
                    Stain: <b>Gunstock</b> <br />
                    Size: <b>10" Wide x 8" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>

        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/Tray.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">Charcuterie board</h4>
                <p class="card-text">
                    Wood Species: <b>Oak</b> <br />
                    Stain: <b>Walnut</b> <br />
                    Size: <b>24" Wide x 11" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/ImFishing.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">[3d] I'm Fishing</h4>
                <p class="card-text">
                    Wood Species: <b>Cherry</b> <br />
                    Stain: <b>Gunstock</b> <br />
                    Size: <b>24" Wide x 11" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>
    
        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/GoinFishing.png"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">[3d] Goin Fishing</h4>
                <p class="card-text">
                    Wood Species: <b>Cherry</b> <br />
                    Stain: <b>Unfinished [Raw]</b> <br />
                    Size: <b>24" Wide x 11" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>

        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/DontListen.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">[3d] Small Scroll Plaque</h4>
                <p class="card-text">
                    Wood Species: <b>Oak</b> <br />
                    Stain: <b>Walnut</b> <br />
                    Size: <b>8" Wide x 10" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>

        <div class="col-2 card">
            <img class="card-img-top"
                src="../../assets/AppleClassroom.jpg"
                alt="Card image cap"
                >
            <div class="card-body">
                <h4 class="card-title">[3d] Small Apple Plaque</h4>
                <p class="card-text">
                    Wood Species: <b>Cherry</b> <br />
                    Stain: <b>Gunstock</b> <br />
                    Size: <b>8.5" Wide x 10" High x 3/4" Thick</b> <br />
                </p>
                <a href="/order" class="btn btn-primary">ORDER ONE</a>
            </div>
        </div>
    </div>
</div>